
<!-- partial -->
<!-- partial:partials/_sidebar.html --> 
<!--div class="theme-setting-wrapper" -->
  
  
  
    
   
    <!--div class="sidebar-bg" id="sidebar-dark-theme"-->
<nav  class="sidebar-bg" id="sidebar-dark-theme">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/acceuil">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Accueil</span>
        </a>
      </li>
      <li class="nav-item nav-category"></li>
      <li *ngIf="this.role=='Entreprise'" class="nav-item">
        <a class="nav-link" routerLink="/home/addpub">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Ajouter publications</span>
        </a>
      </li>
      
       <li *ngIf="this.role=='admin'" class="nav-item nav-category">Utilisateur</li>
          <li *ngIf="this.role=='admin'" class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Utilisateur</span>
          <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" routerLink="/home/user"> <a class="nav-link">Liste Utilisateur</a></li>
            <li class="nav-item" routerLink="/home/addus"> <a class="nav-link">Ajouter Utilisateur</a></li>
          </ul>
         </div>
          </li>
          
         
      <li *ngIf="this.role=='admin'" class="nav-item nav-category">Entreprise</li>
        <li *ngIf="this.role=='admin'" class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ag" aria-expanded="false" aria-controls="ag">
            <i class="menu-icon mdi mdi-briefcase-check"></i>
            <span class="menu-title">Entreprise</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ag">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" routerLink="/home/Entreprise"> <a class="nav-link">Liste Des Entreprises</a></li>
              <li class="nav-item" routerLink="/home/addenter"> <a class="nav-link">Ajouter Entreprise</a></li>
            </ul>
            </div>
        </li>
      
     
     
    
      <li class="nav-item nav-category"></li>
      <li class="nav-item nav-category"></li>
      <li class="nav-item nav-category"></li>
      <li class="nav-item nav-category"></li>
      <li class="nav-item nav-category"></li>
      
      <li class="nav-item">
        <a class="nav-link" href=>
          <i class="menu-icon mdi mdi-power text-primary"></i>
          
          <span class="menu-title" (click)="logOut()">Sign Out</span>
        </a>
      </li>
    </ul>
  </nav>
   

  <!-- partial -->
  
  